MyWeb.Business/Web References/WebSvc/WebSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Advertise_GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Advertise_GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Advertise_GetByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Advertise_GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:Advertise_GetById" />
  </wsdl:message>
  <wsdl:message name="Advertise_GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:Advertise_GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebSvcSoap">
    <wsdl:operation name="Advertise_GetById">
      <wsdl:input message="tns:Advertise_GetByIdSoapIn" />
      <wsdl:output message="tns:Advertise_GetByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSvcSoap" type="tns:WebSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Advertise_GetById">
      <soap:operation soapAction="http://tempuri.org/Advertise_GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSvcSoap12" type="tns:WebSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Advertise_GetById">
      <soap12:operation soapAction="http://tempuri.org/Advertise_GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSvc">
    <wsdl:port name="WebSvcSoap" binding="tns:WebSvcSoap">
      <soap:address location="http://localhost/WebSvc/WebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSvcSoap12" binding="tns:WebSvcSoap12">
      <soap12:address location="http://localhost/WebSvc/WebSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>